/* Create two unequal columns that floats next to each other */

.row {
    padding: 5px;
}

.left {
    position: absolute;
    float: left;
    width: 19%;
    height: 90%;
}

.right {
    float: right;
    width: 80%;
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.svg-container {
    display: inline-block;
    width: 100%;
    position: relative;
    padding-bottom: 70%;
    vertical-align: middle;
    overflow: auto;
}

.wardley-map {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

header {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
}

pre, textarea {
    font-family: Optima, Calibri, 'DejaVu Sans', sans-serif;
    line-height: 15pt;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    /*reset from inline*/
    width: 100%;
    height: 100%;
    margin: 0;
    /*remove defaults*/
    padding: 4px;
    background: #EEF;
    border: 1px solid #333;
    overflow-y: auto;
    /*resets IE*/
    overflow-x: hidden;
    /*resets IE*/
}

.hints {
    font-size: 80%;
    font-family: sans-serif;
    color: #333333;
    font-style: italic;
    text-align: right;
}

#errors {
    text-align: left;
}

#errors {
    color: #c00;
}