* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
}

/* Create two unequal columns that floats next to each other */
.column {
	float: left;
	padding: 10px;
}

.left {
	width: 23vw;
	height: 95vh;
}

.right {
	height: 100vh;
	float: none;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

.container {
	width: 77vw;
	height: 100%;
	left: 23vw;
	position: fixed;
	float: none;
}


textarea {
  width: 100%;
  height: 100%;
  padding: 12px 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 12px;
  resize: none;
}

